*.gcno
*.gcda
*.gcov
*.gch
*.la
*.lo
*.ncb
*.o
*.opensdf
*.sdf
*.suo
*.user
*.swp
.deps
.dirstamp
.libs
a.out.dSYM
aclocal.m4
autom4te.cache
build
compile
config.guess*
autoconfig.h
autoconfig.h.in
autoconfig.h.in~
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub*
configure
depcomp
html
install-sh
iphone
lcov*
libtool
ltmain.sh
Makefile
Makefile.in
missing
mordor.xcodeproj/*.mode1v3
mordor.xcodeproj/*.pbxuser
mordor.xcodeproj/*.perspectivev3
mordor.xcodeproj/project.xcworkspace/

obj*
stamp-h1
Win32
x64
Debug
Release
*.pc
xcuserdata
.DS_Store
tags
test-results/
/ipch/
/packages/
/.vs/
